div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid blue;
    margin: 25px;

}



#addbutton{
    margin-left: 23px;
}


button {
    display: flex;
    border-radius: 10px;
    margin: 5px;
    color: white;
    background-color: blue;
    
}


button:hover {
    background-color: black
}


label {
    font-size: 20px;
    color: blue;
}