

div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid blue;
 
}

button {
    display: flex;
    border-radius: 10px;
    margin: 5px;
    color: white;
    background-color: blue;
}


button:hover {
    background-color: black
}


label {
    font-size: 20px;
    color: blue;
}


